<form action="/createuser" method = "post">
    <label for="">Username</label>
    <input type="text" name = "username">

    <label for="">Password</label>
    <input type="password" name ="password">
    
    <label for="">Admin Key(for admins only)</label>
    <input type="password" name = "adminkey">
    <button>Create Account</button>
</form>
