<form action="/session" method = "post">
    <label for="">Username</label>
    <input type="text" name = "username">

    <label for="">Password</label>
    <input type="password" name ="password">
    
    <button>login</button>
</form>

<a href="/createuser"> Create Account </a>